OpenColorIO
PyOpenGL
PySide6
QtAwesome
colour-science @ git+https://github.com/colour-science/colour.git
colour-visuals @ git+https://github.com/colour-science/colour-visuals.git
imageio
networkx
numpy
pygfx
pygments
wgpu
